
  body {
      height: 100%;
      padding: 0;
      margin: 0;
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .box {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
  }
  @media (max-width: 1920px ) {
      .title {
           position: absolute;
         top: 9.375rem;
             left: 40.625rem;
             font-size: 2.5rem;
           font-family: "Times New Roman", Times, serif, sans-serif;
           color: #f56687;
           animation: animate 1.3s infinite;
       }
  }
  canvas {
      position: absolute;
      width: 100%;
      height: 100%;
  }

  #pinkboard {
      position: relative;
      margin: auto;
      height: 500px;
      width: 500px;
      animation: animate 1.3s infinite;
  }

  #pinkboard:before,
  #pinkboard:after {
      content: "";
      position: absolute;
      background: #ff5ca4;
      width: 100px; 
      height: 160px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
  }

  #pinkboard:before {
      left: 100px;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
  }

  #pinkboard:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
  }

  @keyframes animate {
      0% {
          transform: scale(1);
      }

      30% {
          transform: scale(0.8);
      }

      60% {
          transform: scale(1.2);
      }

      100% {
          transform: scale(1);
      }
  }

  @media (max-width: 1366px) {
      .title {
          position: absolute;
          top: 150px;
          left: 500px;
          font-size: 2.5rem;
          font-family: "Times New Roman", Times, serif, sans-serif;
          color: #f56687;
          animation: animate 1.3s infinite;
      }
  }
/* CSS cho thiết bị di động */
  @media (max-width: 1024px) {
    .title {
            position: absolute;
                top: 10.625rem;
                left: 23.125rem;
                font-size: 2.5rem;
                font-family: "Times New Roman", Times, serif, sans-serif;
                color: #f56687;
                animation: animate 1.3s infinite;
    }
  }

